.contacto{
    button{
        font-size: 15px;
        background-color: #DADFE5;
        color: #080808;
        display: flex;
    }
}

.btn:hover {
    background-color: rgb(158, 26, 230);
    color: white;
  }